<%= render 'shared/navbar' %>
<div class="container">
  <div class="global-card">
    <div class="left-card">
      <div class="artist-photo">
        <%= cl_image_tag @booking.artist.photo.key, height: 200, width: 190, crop: :fill %>
     </div>
    <div class="card-name">
      <div class="artist-name">
        <%= @booking.artist.name %>
      </div>
      <p class="barcode">
        RNBnb
      </p>
    </div>
  </div>
      <div class="right-card">
        <div class="description">
          <p><%= @booking.artist.description %></p>
        </div>
        <div class="category-price">
          <div class="artist-category">
            <strong> </strong>
          </div>
          <div class="artis-price">
            <div class="card-index-text-cp">
              <p><%= @booking.artist.price %></p>
              <i class='fa-solid fa-euro-sign'></i>
            </div>
          </div>
        </div>
        <div class="booking-informations">
          <p>Nom du locataire : <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
          <p>Numero de réservation : <%= @booking.id %></p>
          <p>Date de réservation : <%= l(@booking.date, format: :long) %></p>
          <% if @booking.validated == "approved" %>
            <p><%= "Statut de la réservation : Validé" %></p>
          <% elsif @booking.validated == "declined" %>
            <p><%= "Statut de la réservation : Refusé" %></p>
          <% else %>
            <p><%= "Statut de la réservation : En attente de réponse" %></p>
          <% end %>
        </div>
        <div class="music">
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.5s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.6s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.3s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.4s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.5s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.6s;"></i>
        </div>
        <% if @booking.date >= Date.today  %>
          <div class = "buttons-modifs">
            <% if @booking.validated == "pending" %>
              <%= link_to "Valider", validate_admin_booking_path(@booking, decision: true), data: { turbo_method: :post }, class: "btn-to-click" %>
              <%= link_to "Refuser", validate_admin_booking_path(@booking, decision: false), data: { turbo_method: :post }, class: "btn-to-click" %>
            <% end %>
          </div>
        <% else %>
        <p> </p>
        <% end %>
      </div>
  </div>
</div>
<br>
<div class="button-return-bookings">
<%= link_to "Retourner à mes réservations", admin_bookings_path, class: "btn-to-click-return" %>
</div>
