<h2><%= @artist.name %></h2>
<p><%= @artist.description %>
<br>
<%= @artist.price %>€
</p>

<%= simple_form_for [@artist, @booking] do |f| %>
  <%= f.input :date, html5: true %>
  <%= f.submit %>
<% end %>

<br>
<br>
<%= link_to "Back to artist", artists_path %>
