 <div class="container">
  <div class="global-card">
    <div class="left-card">
      <div class="artist-photo">
        <%= cl_image_tag @artist.photo.key, height: 200, width: 190, crop: :fill %>
        </div>
        <div class="card-name">
          <div class="artist-name">
            <%= @artist.name %>
          </div>
          <p class="barcode">
            RNBnb
          </p>
        </div>
    </div>
    <div class="right-card">
      <div class="description">
        <p><%= @artist.description %></p>
      </div>
      <div class="category-price">
        <div class="artist-category">
          <strong><%= @artist.category %></strong>
        </div>
        <div class="card-index-text-cp">
          <p><%= @artist.price %></p>
          <i class='fa-solid fa-euro-sign'></i>
        </div>
      </div>
        <div class="booking-form">
          <%= simple_form_for [@artist, @booking] do |f| %>
          <%= f.input :date, html5: true %>
          <%= f.submit class: 'btn btn-outline-light' %>
          <% end %>
        </div>
        <div class="music">
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.5s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.6s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.3s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.4s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.5s;"></i>
          <i class="fa-solid fa-music fa-beat" style="--fa-animation-duration: 0.6s;"></i>
        </div>
      </div>
  </div>
</div>
