<% @bookings.each do |booking| %>
  <div class="container container-ticket">
    <% if booking.validated == "approved"%>
      <div class="name-ticket background-green">
    <% elsif booking.validated == "declined" %>
      <div class="name-ticket background-red">
    <% else %>
      <div class="name-ticket background-orange">
    <% end %>
        <p class="name"><%= booking.artist.name %></p>
        <p class="show-this">Le <%= booking.artist.name.first %> c'est le S</p>
      </div>
    <div class="info-ticket">
      <%= booking.artist.description %>
    </div>
    <div class="date-ticket">
      <%= l(booking.date, format: :default) %>
      <div class="button-details"><%= link_to "Détails", booking_path(booking) %></div>
    </div>
    <% if booking.validated == "approved" %>
      <div class="barcode-name background-green" >
    <% elsif booking.validated == "declined" %>
      <div class="barcode-name background-red" >
    <% else %>
      <div class="barcode-name background-orange" >
    <% end %>
        <p class="name-barcode">booking</p>
      </div>
  </div>
<% end %>
